{% load tz %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
</head>
<body>

    <h1>Bem-vindo, {{ perfil.user.username }}!</h1>

    {% if perfil.foto %}
    <img src="{{ perfil.foto.url }}" alt="Foto de {{ perfil.user.username }}" width="150">
    {% else %}
    <p>Usuário ainda não tem foto.</p>
    {% endif %}
    <p><b>Poderes:</b> {{ perfil.poderes }}</p>
    <p><b>Descrição:</b> {{ perfil.descricao }}</p>
    <a href="criar_post"> Criar Post </a>
    <a href="logout"> Logout </a>

    <h2>Feed de Posts</h2>

        {% for post in posts %}
            <div>
                <strong>{{ post.autor.username }}</strong>
                <p>{{ post.mensagem }}</p>
                <small>Postado em {{ post.criado_em|localtime|date:"d/m/Y H:i" }}</small>
                
                <a href="{% url 'like' post.id %}" class="btn btn-warning btn-sm">Pow!</a>
                <p>💥 {{ post.likes.count }} Pow(s)</p>

                <!-- Comentários -->
                <a href="{% url 'comentarios:detalhes_post' post.id %}" class="btn btn-link">({{ post.comentarios.count }}) Comentários</a>

            </div>
            <hr>

        {% empty %}
            <p>Nenhum post ainda...</p>
        {% endfor %}

</body>
</html>