{% extends "base.html" %}
{% load tz %}

{% block title %}Post de {{ post.autor.username }}{% endblock %}

{% block content %}
<div class="container my-4">

  <!-- Post -->
  <div class="card mb-4 border-warning shadow-sm" style="background-color:#0f1a2b; color: antiquewhite;">
    <div class="card-body">
      <h5 class="text-warning">@{{ post.autor.username }}</h5>
      <p class="mb-1">{{ post.mensagem }}</p>
      <small class="text-light">📅 {{ post.criado_em|localtime|date:"d/m/Y H:i" }}</small>
    </div>
  </div>

  <!-- Comentários -->
  <div class="card mb-4 border-0 shadow-sm" style="background-color:#122037; color: antiquewhite;">
    <div class="card-body">
      <h5 class="text-warning mb-3">💬 Comentários</h5>

      {% for comentario in comentarios %}
        <div class="mb-3 pb-2 border-bottom border-secondary ">
          <img src="{{ comentario.autor.perfil.foto.url }}" 
     alt="Foto de {{ comentario.autor.username }}"
     class="rounded-circle border border-1 border-warning m-1"
     width="40" height="40">

          <strong class="text-warning">@{{ comentario.autor.username }}</strong>  

          <p class="mb-1">{{ comentario.mensagem }}</p>
          <small class="text-light">📅 {{ comentario.criado_em|localtime|date:"d/m/Y H:i" }}</small>
        </div>
      {% empty %}
        <p class="text-light">Nenhum comentário ainda.</p>
      {% endfor %}
    </div>
  </div>

  <!-- Formulário de comentário -->
  <div class="card border-0 shadow-sm" style="background-color:#0f1a2b; color: antiquewhite;">
    <div class="card-body">
      <h5 class="text-warning mb-3">✍️ Novo comentário</h5>
      <form method="POST" class="d-flex flex-column gap-3">
        {% csrf_token %}
        <textarea name="mensagem" rows="3" placeholder="Escreva um comentário..."
                  class="form-control rounded-3 border-0 shadow-sm"
                  style="background-color:#122037; color: antiquewhite;"></textarea>
        <div class="text-end">
          <button type="submit" class="btn btn-warning fw-bold shadow-sm">💬 Comentar</button>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
