{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha App{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
          crossorigin="anonymous">

    <!-- Seu CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url({% static 'img/background.png' %}); background-color: #122037;">

    <!-- Header fixo -->
    <div class="text-center bg-warning">
        <br>
        <img class="img-fluid" src="{% static 'img/logo.png' %}" style="width: 40%; max-width: 400px;" alt="Logótipo">
        <h5 id="sub">Onde os heróis se encontram</h5>
        <br>
    </div>

    <!-- Aqui entra o conteúdo que muda -->
    <main class="container my-4">
        {% block content %}{% endblock %}
    </main>

    <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
            crossorigin="anonymous"></script>
</body>
</html>
